
<%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs')  %>
    <div>
        <h1>OOPS 404 ERROR</h1>
        <p>Invalid link</p>
        <p>Try again</p>
    </div>
<%- include('./partials/footer.ejs')  %>